.center-div
{
  text-align: center;
   }

.Home-view {
    background-image: url("classe.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Home-view h2 a {
  color: white;
  text-shadow: 2px 2px black;
}

.Profile-view {
  text-align: center;
  background-image: url("greyblur.jpg");
  background-size: cover;
}

.Home-view h1 {
    color: white;
    text-shadow: 4px 4px black;
}


.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: block;
  margin: 0 auto;

}
.avatar img {
  max-width: 100%;
  height: auto;
}

.avatars {
  margin: 0 auto;
}

.cohort-pics {
  height: auto;
  width: 200px;
  border-radius: 8px;
}
